GAME Robocod=execute >NIL: Scripts:dostartup CD0:Robocod
GAME Pinball=execute >NIL: Scripts:Choose_Pinball
GAME D/Generation=execute >NIL: Scripts:dostartup CD0:DGen
GAME Sleepwalker=execute >NIL: Scripts:dostartup CD0:Sleep
GAME Zool (PAL only)=execute >NIL: Scripts:Dostartup CD0:Zool
GAME Whale's Voyage=execute >NIL: Scripts:Dostartup CD0:WCD
@CDXL Creation=execute >NIL: Scripts:Creation_CDXL
@CDXL Jurrasic Park=execute >NIL: Scripts:JPSmall_CDXL
@CDXL Action!=execute >NIL: Scripts:Movement_CDXL
@CDXL Blue/Blade=execute >NIL: Scripts:Duo_CDXL
;@CDXL Enya=execute >NIL: Scripts:Enya_CDXL
;@CDXL Blues Brothers=execute >NIL: Scripts:BluesBrothers_CDXL
;@CDXL Bladerunner=execute >NIL: Scripts:Bladerunner_CDXL
@~MPEG BON JOVI=execute >NIL: Scripts:BON_JOVI_MPEG
DEMO Flight=execute >NIL: Scripts:startflight
@DEMO Graphics=execute >NIL: Scripts:ShowPictures.script
@DEMO About Amiga CD=execute >NIL: Scripts:dostartup CD0:Sachs
