#
# This file is the configuration file for the SANA-II slip
# driver.  It only contains one config line (aside from
# the comments).  The format of the line (in ReadArgs()
# style) is:
#
# SERNAME/A,SERUNIT/A/N,SERBAUD/A/N,IPSTR/A,CD=CARRIERDETECT/S,7WIRE/S
#
# SERNAME - The name of the serial device to use.
#
# SERUNIT - The unit number for the serial device.
#
# SERBAUD - The baud rate to use with the serial device.
#
# IPSTR	  - The IP address of the SLIP Device
#
# CD=CARRIERDETECT - If specified, causes the cslip.device to pay attention
#                    to the status of the carrier detect line.  If this isn't
#		     specified, cslip.device ignores the CD signal.
#
# 7WIRE   - If specified, causes cslip.device to use seven wire handshaking
#	    with the modem (strongly recommended for high baud rates).
#
serial.device 0 38400 135.7.20.2 CD 7WIRE
