#
# This file is the configuration file for the SANA-II slip
# driver.  It only contains one config line (aside from
# the comments).  The format of the line (in ReadArgs()
# style) is:
#
# SERNAME/A,SERUNIT/A/N,SERBAUD/A/N,IPSTR/A,CD=CARRIERDETECT/S,7WIRE/S,
#    COMP/S,AUTO/S,MTU/K/N,SERBUF/K/N,USEODU/S
#
# SERNAME - The name of the serial device to use.
#
# SERUNIT - The unit number for the serial device.
#
# SERBAUD - The baud rate to use with the serial device.
#
# IPSTR	  - The IP address of the SLIP Device
#
# CD=CARRIERDETECT - If specified, causes the slip.device to pay attention
#                    to the status of the carrier detect line.  If this isn't
#		     specified, slip.device ignores the CD signal.
#
# 7WIRE   - If specified, causes slip.device to use seven wire handshaking
#	    with the modem (strongly recommended for high baud rates).
#
# COMP    - If specified, causes slip.device to turn header compression on.
#
# AUTO    - If specified, causes slip.device to turn on compression after
#	    receiving a compressed packet.  This is useful if you are using
#	    slip.device on a server that needs to support both SLIP and CSLIP.
#	    Note: This option overrides the COMP option.
#
#	    Also, each time slip.device goes online, compression will be
#	    turned off until a compressed packet is received.
#
# MTU	  - If specified, allows you to override the MTU setting of the slip
#	    driver for this unit.  This is useful if you have a slow
#	    link and do interactive sessions while doing file transfers.
#	    A good starting value is 256.  Default is 1006.
#
# SERBUF  - Override the default value of 16Kb for the serial device recieve
#	    buffer size.
#
# USEODU  - Use OwnDevUnit.library for arbitrating for serial port access.
serial.device 0 38400 135.7.20.2 CD 7WIRE COMP MTU=512
