45 5         * * *     bin:FixClock

0 *          * * *     :REXX ChimeHour :NOLOG

30 *         * * *     :REXX UUio all :NOLOG
0 0,6,11,17  * * *     :REXX UUio clout
0 5,22       * * *     :REXX UUio chinet

15 *         * * *     BMS batch :NOLOG
0 4          * * *     BMS:UpdateBmsPubFiles
0 3          * * 0     copy BMS:BMS.DB BMS:BMS.DB.old :OBEYQUEUE z
0 3          * * 0     BMS cleanup :MAILUSER bms-manager :OBEYQUEUE z

55 4         * * *     UUCP:c/MakeAmigaNetDummy

45 4         * * *     bin:UpdateDB

35 4,9,21    * * *     UUCP:c/BatchNews

0 9          * * *     :REXX ScanForMaps

0  10        * * *     UUCP:c/trimnews

45 21        * * *     UUCP:c/trimfile UUSPOOL:logfile Getty:logfile BMS:BMS.Log T:CyberCronLog  -100
45 5         * * 0     UUCP:c/trimfile TERM:term.logfile JRCOMM:jrcomm.log UUSPOOL:TimeLog EMPIRE:empire.log IMPERIUM:Data/imperium.log -75
